<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css?v=3.5">
    <link rel="icon" href="/images/webp/meipulseras.webp" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <title>Mei Pulseras</title>
</head>
<body>
    <div class="marquee">
        <p>Punto de retiro Zokko Showroom: Arzobispo Casanova 194, Llolleo, San Antonio. Lunes a Sábado de 11:00 a 14:00 / 15:00 a 19:30 horas. &#x2728;&#x2728;</p>
    </div>
    <br>
    <div class="nav" id="nav">
        <ul class="navbar" id="navbar">
            <li class="links"><a class="logosredes" href="/"> 
                <img class="wsplogo" src="/images/webp/home.webp" alt="home"></a></li>
            <li class="links2" id="logout"><a class="logosredes" href="/auth/logout"> 
                <img class="wsplogo" src="/images/webp/logout.webp" alt="logout"></a></li>
            <li class="links2 link3" id="pipe"><a class="pipe link">|</a></li>
            <li class="links2" id="cart"><a class="logosredes" href="/cart"> 
                <img class="wsplogo" src="/images/webp/cart.webp" alt="cart">
                <p id="counter" class="counter"><%= count %></p>
            </a></li>
            <li class="links2 link3" id="pipe"><a class="pipe link">|</a></li>
            <li class="links2 link3" id="username"><a class="translate link" key="USERNAME" href="/user/personal"><%= username %></a></li>
            
            <li class="links2" id="login"><a class="logosredes" href="/auth/login"> 
                <img class="wsplogo" src="/images/webp/login.webp" alt="con_logo"></a></li>
        </ul>
    </div>
   <br>
    <div class="logo">
        <img class="logomei" src="/images/webp/logo.webp" alt="logo">
    </div>
    <br>
    <div class="welcome">
        <p class="lang" key="BIEN">¡Hola!</p>
    </div>
    <div class="intro texto">
        <h4 class="lang" key="INTRO">
            Soy Marcela, diseñadora y apasionada por las manualidades.Crear con las manos ha sido mi forma de expresarme,
de conectar con lo que siento y con las personas que me rodean.
Así nace Mei Pulseras, mi emprendimiento creado en 2019 con el deseo de ofrecer algo más que solo accesorios: pulseras únicas, llenas de color, detalles y buena energía, pensadas para acompañarte todos los días.
Cada pieza está hecha a mano con materiales seleccionados: cristales, piedras y mostacillas. Pero lo que realmente las hace especiales es la intención con la que se crean: para acompañarte, protegerte y hacerte brillar.
Si conectas con mi trabajo, estaré feliz de ayudarte a encontrar tu pulsera ideal o crear algo totalmente personalizado para ti.
        </h4>  
    </div>
    <div class="relleno"></div>
    
    <div class="divcenter">
        <div class="grid-container">
            <a class="lblprod" href="/producto/1"><div class="grid-item"><img class="foto" src="<%= imag_1 %>" alt="Pulseras1" title="01. <%= prod_1 %>.">
                <div class="productname"><h4><%= prod_1 %></h4></div>
                <div class="productprice"><span class="lblprec">$<%= prec_1 %></span></div>
            </div></a>
            <a class="lblprod" href="/producto/2"><div class="grid-item"><img class="foto" src="<%= imag_2 %>" alt="Pulseras2" title="02. <%= prod_2 %>.">
                <div class="productname"><h4><%= prod_2 %></h4></div>
                <div class="productprice"><span class="lblprec">$<%= prec_2 %></span></div>
            </div></a>
            <a class="lblprod" href="/producto/3"><div class="grid-item"><img class="foto" src="<%= imag_3 %>" alt="Pulseras3" title="03. <%= prod_3 %>.">
                <div class="productname"><h4><%= prod_3 %></h4></div>
                <div class="productprice"><span class="lblprec">$<%= prec_3 %></span></div>
            </div></a>
            <a class="lblprod" href="/producto/4"><div class="grid-item"><img class="foto" src="<%= imag_4 %>" alt="Pulseras4" title="04. <%= prod_4 %>.">
                <div class="productname"><h4><%= prod_4 %></h4></div>
                <div class="productprice"><span class="lblprec">$<%= prec_4 %></span></div>
            </div></a>
            <a class="lblprod" href="/producto/5"><div class="grid-item"><img class="foto" src="<%= imag_5 %>" alt="Pulseras5" title="05. <%= prod_5 %>.">
                <div class="productname"><h4><%= prod_5 %></h4></div>
                <div class="productprice"><span class="lblprec">$<%= prec_5 %></span></div>
            </div></a>
            <a class="lblprod" href="/producto/6"><div class="grid-item"><img class="foto" src="<%= imag_6 %>" alt="Pulseras6" title="06. <%= prod_6 %>.">
                <div class="productname"><h4><%= prod_6 %></h4></div>
                <div class="productprice"><span class="lblprec">$<%= prec_6 %></span></div>
            </div></a>
            <a class="lblprod" href="/producto/7"><div class="grid-item"><img class="foto" src="<%= imag_7 %>" alt="Pulseras7" title="07. <%= prod_7 %>.">
                <div class="productname"><h4><%= prod_7 %></h4></div>
                <div class="productprice"><span class="lblprec">$<%= prec_7 %></span></div>
            </div></a>
            <a class="lblprod" href="/producto/8"><div class="grid-item"><img class="foto" src="<%= imag_8 %>" alt="Pulseras8" title="08. <%= prod_8 %>.">
                <div class="productname"><h4><%= prod_8 %></h4></div>
                <div class="productprice"><span class="lblprec">$<%= prec_8 %></span></div>
            </div></a>
            <!-- <div class="grid-item"><img class="foto" src="<%//= imag_9 %>" alt="Pulseras9" title="09. <%//= prod_9 %>.">
                <div class="productname"><h4><a class="lblprod" href="/producto/9"><%//= prod_9 %></a></h4></div>
                <div class="productprice"><span class="lblprec">$<%//= prec_9 %></span></div>
            </div>
            <div class="grid-item"><img class="foto" src="<%//= imag_10 %>" alt="Pulseras10" title="10. <%//= prod_10 %>.">
                <div class="productname"><h4><a class="lblprod" href="/producto/10"><%//= prod_10 %></a></h4></div>
                <div class="productprice"><span class="lblprec">$<%//= prec_10 %></span></div>
            </div>
            <div class="grid-item"><img class="foto" src="<%//= imag_11 %>" alt="Pulseras11" title="11. <%//= prod_11 %>.">
                <div class="productname"><h4><a class="lblprod" href="/producto/11"><%//= prod_11 %></a></h4></div>
                <div class="productprice"><span class="lblprec">$<%//= prec_11 %></span></div>
            </div>
            <div class="grid-item"><img class="foto" src="<%//= imag_12 %>" alt="Pulseras12" title="12. <%//= prod_12 %>.">
                <div class="productname"><h4><a class="lblprod" href="/producto/12"><%//= prod_12 %></a></h4></div>
                <div class="productprice"><span class="lblprec">$<%//= prec_12 %></span></div> -->
          </div>
    </div>
    <div class="relleno"></div>
    <div class="texto">
        <div class="centro">
        <div class="follow">
            <p class="lang sigue" id="seguir" key="SIGUE">SÍGUENOS</p>
        </div>
        <div class="instalogo">
            <a class="logosredes" href="https://www.instagram.com/meipulseras"> 
                <img class="wsplogo" src="/images/webp/instagram.webp" alt="ins_logo">
            </a>
            <a class="logosredes" href="/page/contact"> 
                <img class="wsplogo" src="/images/webp/contact.webp" alt="con_logo">
            </a>
        </div> 
    </div>
    </div>
    <div class="relleno"></div>
    <div class="relleno horario">
        <p class="texto" id="seguir" key="SIGUE">Horario de atención: Lunes a viernes de 11:00 a 18:00 hrs.</p>
    </div>
    <div class="relleno">
        <a class="foot" target="_blank" href="/policy">Términos y Condiciones</a>
    </div>
    <footer class="foot">
        <p>Mei Pulseras 2019 &#8729; Santo Domingo, Chile.</p>
        <br>
    </footer>
    <script src="/js/hide.js" type="text/javascript"></script>
</body>
</html>