<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css?v=2.5">
    <link rel="icon" href="/images/webp/meipulseras.webp" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <title>Datos de Usuario</title>
</head>

<body onload="eliminar(); alerta();">
    <div class="nav" id="nav">
        <ul class="navbar" id="navbar">
            <li class="links2" id="logout"><a class="logosredes" href="/auth/logout"> 
                <img class="wsplogo" src="/images/webp/logout.webp" alt="logout"></a></li>
            <li class="links2 link3" id="pipe"><a class="pipe link">|</a></li>
            <li class="links2" id="cart"><a class="logosredes" href="/cart"> 
                <img class="wsplogo" src="/images/webp/cart.webp" alt="cart">
                <p id="counter" class="counter"><%= count %></p>
            </a></li>
            <li class="links2 link3" id="pipe"><a class="pipe link">|</a></li>
            <li class="links"><a class="logosredes" href="/"> 
                <img class="wsplogo" src="/images/webp/home.webp" alt="con_logo"></a></li>
            <li class="links2 link3"><a class="translate link" id="protected" href="/personal">Personal</a></li>
        </ul>
    </div>
    <div class="relleno2"></div>
    <div class="relleno2"></div>
    <div class="formu">
        <form action="/user/info" method="post">
            <div class="inputforms">
                <div class="lblinput">
                    <div class="inputlbl">
                        <label class="lblform" key="F1" for="fullname">NOMBRE COMPLETO:</label>
                        <input class="forminput" value="<%= fullname %>" type="text" id="fullname" name="fullname" minlength="10" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lblform" key="F2" for="birthdate">FECHA DE NACIMIENTO:</label><br />
                        <input class="forminput" value="<%= birthdate %>" maxlength="10" type="text" id="birthdate" name="birthdate" disabled><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lblform" key="F2" for="rut">RUT:</label><br />
                        <input class="forminput" value="<%= rut %>" type="text" id="rut" name="rut" disabled><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lblform" key="F2" for="address">DIRECCIÓN:</label>
                        <input class="forminput" value="<%= address %>" type="text" id="address" name="address" minlength="5" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lblform" key="F2" for="comune">COMUNA:</label>
                        <input class="forminput" value="<%= comune %>" type="text" id="comune" name="comune" minlength="3" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lblform" key="F2" for="region">REGIÓN:</label>
                        <input class="forminput" value="<%= region %>" type="text" id="region1" name="region1" required><br />
                        <br />
                        <select class="select" name="region" id="regionSelect"></select>
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lblform" key="F2" for="country">PAÍS:</label>
                        <input class="forminput" value="<%= country %>" type="text" id="country" name="country" minlength="3" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lblform" key="F2" for="phone">TELÉFONO:</label>
                        <input class="forminput" value="<%= phone %>" type="text" id="phone" name="phone" minlength="9" maxlength="12" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lblform" key="F2" for="mail">EMAIL:</label>
                        <input class="forminput" value="<%= mail %>" type="text" id="mail" name="mail" disabled><br />
                    </div>
                    <br />
                    <br />
                    <input class="cotiza pe" type="submit" value="Actualizar" id="aceptar">
                </div>
            </div>
        </form>
        <br />
        <br />
        <br />
        <br />
        <form action="/user/newpass" method="post">
            <div class="inputforms">
                <div class="lblinput">
                    <div class="inputlbl">
                        <label class="lblform" key="F1" for="oldpass">CONTRASEÑA ANTERIOR/PROVISORIA:</label>
                        <input class="forminput" type="password" id="oldpass" name="oldpass" required><br />
                    </div>
                    <br />
                    <div class="inputlbl">
                        <label class="lblform" key="F2" for="newpass">CONTRASEÑA NUEVA:</label><br />
                        <input class="forminput" type="password" id="newpass" name="newpass" required><br />
                    </div>
                    <br />
                    <br />
                    <input class="cotiza pe" type="submit" value="Actualizar" id="aceptar">
                </div>
            </div>
        </form>
        <br />
        <br />
        <br />
        <br />
        <form action="/delete" method="post" id="eliminar">
            <div class="inputforms">
                <div class="lblinput">
                    <div class="inputlbl">
                        <p class="lblform delete">¿DESEA ELIMINAR SU REGISTRO DE MEIPULSERAS.CL?</p>
                    </div>
                    <br />
                    <br />
                    <input class="cotiza pe" name="eliminar" type="submit" value="ELIMINAR" id="eliminar">
                </div>
            </div>
        </form>
        <br />
        <br />
        <br />
        <br />
    </div>
    <p id="data" style="display: none;"><%= problem %></p>
    <script src="/js/date.js" type="text/javascript"></script>
    <script src="/js/hide.js" type="text/javascript"></script>
    <script src="/js/region.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
    <script>
        function eliminar(){

            document.getElementById('eliminar').addEventListener('submit', function(event){
                event.preventDefault();

                const form = this;

                Swal.fire({
                title: 'Borrar Registro Usuario',
                text: '¿Está seguro que desea borrar su registro de usuario?',
                icon: 'question',
                confirmButtonText: 'Aceptar',
                showConfirmButton: true,
                showCancelButton: true
                }).then((result) => {
                    if(result.isConfirmed) {
                        form.submit();
                    }
                });
            });
        }
    </script>
    <script>
        function alerta(){
            var alerta = document.getElementById('data').innerText;

            function swalMessage(message, icon, title) {
                Swal.fire({
                    title: title,
                    text: message,
                    icon: icon,
                    confirmButtonText: 'Aceptar',
                    showConfirmButton: true,
                }).then(function() {
                    window.location = "/user/info";
                    alerta = 'no';
                });
            }
        
            if(alerta === 'yes') {      
                swalMessage('Ha utilizado caracteres no permitidos al actualizar su registro. Valide los datos ingresados e intente de nuevo.', 'error', 'Error')
            } else if(alerta === 'ok'){
                swalMessage('Sus datos se actualizaron correctamente.', 'success', 'Actualización Correcta')
            }    
        }
    </script>
</body>
</html>